.App-header nav ul {
    list-style: none;
    padding: 0;
  }
  
  .App-header nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  .App-header nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .App-header nav ul li a:hover {
    background-color: #004ea1;
    text-decoration: none;
  }
  